<!--<div class="bannerCarrusel">
    <div class="big">
        <img src="img/banners/1.png" alt="img1" class="img">
        <img src="img/banners/2.png" alt="img2" class="img">
        <img src="img/banners/3.png" alt="img3" class="img">

    </div>
    <ul class="points">
        <li class="point activo"></li>
        <li class="point activo"></li>
        <li class="point activo"></li>
    </ul>

</div>-->

<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
        <img src="img/banners/1.png" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="img/banners/2.png" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="img/banners/3.png" style="width:100%">
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onmouseover="plusSlides(-1)">&#10094;</a>
    <a class="next" onmouseover="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>