<div class="slider">
    <div class="slide-track">

        <div class="slide">
            <img src="img/banners/1.png">
        </div>
        <div class="slide">
            <img src="img/banners/2.png">
        </div>
        <div class="slide">
            <img src="img/banners/3.png">
        </div>
        <div class="slide">
            <img src="img/banners/1.png">
        </div>
        <div class="slide">
            <img src="img/banners/2.png">
        </div>
        <div class="slide">
            <img src="img/banners/3.png">
        </div>
    </div>
</div>
<br/>