<footer class="footer">
    
        <div class="sociales">
            <div class="redsocial"><a href="https://www.facebook.com"><i class="fab fa-facebook-square" ></i></a></div>
            <div class="redsocial"><a href="https://www.instagram.com"><i class="fab fa-instagram" ></i></a></div>
            <div class="redsocial"><a href="https://twitter.com/?lang=es"><i class="fab fa-twitter" ></i></a></div>
        </div>
    
    <nav class="nav-footer">
        <div class="contenedorfooter">
            <div class="cajaFooter">
                <div class="iconofooter">
                    <i class="fi fi-rr-credit-card" id="icono"></i>
                </div>
                <h4 class="titulosseleccion">Pagá con tarjeta o en efectivo</h4>
                <p class="parrafo">Capsule Corp Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="cajaFooter">
                <div class="iconofooter">
                    <i class="fi fi-rs-gift" id="icono" ></i>
                </div>
                <h4 class="titulosseleccion">Envío gratis desde $ 2.500</h4>
                <p class="parrafo">Por estar registrad@ en Capsule Corp tenés envíos gratis en miles de productos.
                Es beneficio de Corpuntos No te gusta? ¡Devolvelo! En Capsule Corp</p>
            </div>
            <div class="cajaFooter">
                <div class="iconofooter">
                    <i class="fi fi-rr-shield-check" id="icono"></i>
                </div>
                <h4 class="titulosseleccion">Seguridad, de principio a fin</h4>
                <p class="parrafo">No hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
    </nav>
</footer>
        <div class="copyright">
            <h3>Copyright © 1999-2020 Capsule Corp S.R.L.</h3>
        </div>