*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
  background-color: rgba(0, 0, 0, 1);
 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(4, 79, 133, 0.5);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 253, 253);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
  }
  
  li a:hover:not(.active) {
    box-shadow: 0px 0px 105px 5px rgba(45, 171, 255, 0.938);
    -webkit-box-shadow: 0px 0px 105px 5px rgba(45, 171, 255, 0.938);
    -moz-box-shadow: 0px 0px 105px 5px rgba(45, 171, 255, 0.938);
  }
  
  .active {
    background-color: #04AA6D;
  }

  .carrusel{
      display: flex;
      flex-direction: row;
      width: 80vw; 
      margin-top: 30px;
      margin-left: 120px;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 5px 5px;

  }
  img{   
    width: 15%; 
    display: block;
    margin: auto;
    margin-top: 60px;
  }
  .cards{
      margin: auto;
      width: 150px;
      height: 80px;
      display: block;
      border-radius: 5px;
      padding: 5px;
      font-size: 0.7em;
      color: rgb(245, 245, 245);
      text-align: center;
      background: rgba( 0, 231, 255, 0.15 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 0px );
      -webkit-backdrop-filter: blur( 0px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
     
     
  }


  .carrusel1{
    position: absolute;
    top:420px;
    left:310px;
    display: flex;
    width: 20vw; 
    flex-direction: row;
    flex-wrap: wrap;
    margin: left;
    margin-top: 20px;
    gap: 10px 10px;
    align-items: flex-start;
}

.cards1{
  margin: auto;
  width: 130px;
  height: 50px;
  display: block;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.5em;
  color: rgb(255, 253, 253);
  text-align: center;
  background: rgba( 0, 231, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
     
}


.carrusel2{
  display: flex;
  width: 80vw; 
  height: 10vh;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 100px;
  gap: 10px 10px;
  align-items: flex-start;
  justify-content: center;

}

.cards2{
margin: auto;
width: 240px;
height: 220px;
display: block;
border-radius: 5px;
padding: 5px;
font-size: 0.5em;
color: #fff;
text-align: center;
background: rgba( 0, 231, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.cards3{
  margin: auto;
  width: 120px;
  height: 130px;
  display: block;
  border-radius: 5px;
  padding: 3px;
  font-size: 0.5em;
  color: #fff;
  text-align: center;
  background: rgba( 0, 231, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

.imgProd{
margin: auto;
width: 150px;
height: 150px;
display: block;
border-radius: 10px;
}

.imgCat{
  margin: auto;
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 5px;
  }

.price-discount{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.discount{
  color: rgb(71, 255, 101);
}


.carrusel4{
  position: absolute;
  top:420px;
  left:800px;
  display: flex;
  width: 20vw; 
  flex-direction: row;
  flex-wrap: wrap;
  margin: left;
  margin-top: 20px;
  gap: 10px 10px;
  align-items: flex-start;
}

.cards4{
margin: auto;
width: 300px;
height: 180px;
display: block;
border-radius: 5px;
padding: 10px 20px;
font-size: 0.5em;
color: rgb(255, 253, 253);
text-align: left;
background: rgba( 0, 231, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
   
}

.cards4 h2 {
  line-height: 20px;
  font-size: 1.8em;
  font-weight: 400;

}
.cards4 h1 {
  text-decoration: underline;
}

