<%- include("../partials/head") %>
<body>
    <%- include("../partials/userheader") %>
   
    <div class="contenedor">
      <div class="titulodeseccion">
        <h2>Preguntas Frecuentes</h2>
      </div>
  </div>
    <div class="helps">
       
        <details>
              <summary>Realizar un pedido</summary>
            <p> 
                <h4>¿Cómo realizo un pedido?</h4>
                <h5>Solo tenés que seleccionar todos los productos que deseas adquirir. Seguidamente, en el carrito de compras, para conocer el costo del envío colocás tu código postal en el recuadro correspondiente, elegís la mensajería de tu preferencia y debajo seleccionas la forma de pago. Luego hacés clic en el botón COMPRAR y podés acceder como cliente (si ya tenés cuenta en Compra Gamer) o crear un cliente nuevo. Por último, completás los pasos brindados por el asistente, hasta confirmar la compra. Se te asignará un número de pedido y se mostrarán los datos del mismo. También enviaremos un mail a tu correo electrónico registrado con los detalles del pedido realizado.</h5>
            </p>
        </details>
        <details>
            <summary>Precio</summary>
            <p> 
              <h4>¿El precio que figura en la web es el precio final?</h4>
              <h5>Todos los precios en la web incluyen el IVA, y se encuentran expresados en pesos argentinos.</h5>
            </p>
      </details>
      <details>
        <summary>Formas de pago</summary>
      <p> <h4>¿Cuáles son las formas de pago?</h4>
          <h5>Contamos con dos formas de pago: a través de depósito/transferencia bancaria, con la cual obtenés el precio especial, o bien, a través de los métodos Pago Capsule (Visa o MasterCard) o MercadoPago (Tarjetas online, PagoFácil y RapiPago) con los cuales podés abonar en cuotas, al precio de lista.</h5></p>
  </details>
  <details>
    <summary>Depósito - Transferencia bancaria</summary>
    <p>
      <h4>¿Cómo abono a través de depósito/transferencia?</h4>
      <h5>Una vez se realiza el pedido, te facilitamos los datos del CBU. Debes abonar e informar el pago desde nuestra web, antes de la fecha de vencimiento de la reserva.</h5>
    </p>
</details>
<details>
    <summary>Mercadopago</summary>
    <p> 
      <h4>¿Cómo puedo abonar a través de MercadoPago?</h4>
      <h5>Podés hacerlo de tres formas: Con tarjetas online en cuotas (no se puede acceder a cuotas sin interés); A través de RapiPago/ PagoFácil (se abona al precio de lista, pero no se pueden hacer cuotas, sólo se puede abonar en un pago); y realizando una transferencia desde tu cuenta de MercadoPago.</h5>
    </p>
</details>
<details>
    <summary>Envíos</summary>
   <p>
     <h4>¿Cómo gestiono el envío de mi pedido?</h4>
     <h5>En primer lugar, para conocer el costo del envío, una vez al agregues al carrito tu compra, solo debes colocar tu código postal en el recuadro correspondiente, seleccionar la mensajería de tu preferencia y elegir si deseas el retiro en alguna sucursal o la entrega a domicilio. Actualmente realizamos envíos a todo el país través de Oca y Andreani; y si te encontrás en CABA o alrededores, podrás seleccionar el servicio de Mensajería Privada que es exclusivo de Compra Gamer. Tené en cuenta que, para calcular el costo del envío, se toman en consideración tanto las dimensiones y peso del paquete como la distancia de la localidad de entrega.</h5>
   </p>
</details>
<details>
    <summary>Facturación</summary>
    <p> 
      <h4>¿Cómo tramito la factura de mi compra?</h4>
      <h5>En todas las compras efectuadas en la web, brindamos sin excepción alguna, la factura de compra. Una vez que realiza y abona el pedido, enviamos a tu dirección de correo electrónico la factura correspondiente. Por supuesto, también podés descargarla desde la sección Mi cuenta < Mis facturas. En caso de que precises factura A, solo debes ingresar tu CUIT al cargar el pedido por la web. Tené en cuenta que la factura A puede tener percepciones.</h5>
    </p>
</details>
<details>
    <summary>Garantías</summary>
    <p>
      <h4>¿Cómo realizo un pedido?</h4>
      <h5>Para realizar consultas/reclamos relacionadas con la garantía o devolución de alguna de tus compras, al final de esta sección contamos con el apartado “Compra Gamer te ayuda. ¿Cuál es tu consulta?” donde debes exponer tu caso, seleccionando el motivo de “Posventa” que se adapte a tu requerimiento y uno de nuestros representantes te ofrecerá la información correspondiente sobre cómo proceder. En caso de preferir venir a la empresa a gestionar un tema de PosVenta o garantía, podés hacerlo sacando un turno haciendo clic ACÁ</h5>
    </p>
</details>
<details>
    <summary>Canjes y promociones</summary>
    <p> 
      <h4>¿Cómo obtengo el juego y/o beneficios de los productos en promoción?</h4>
      <h5>Todos los canjes de los juegos y/o beneficios se realizan de forma posterior a la entrega del producto y son totalmente digitales. Los canjes se realizan desde ACÁ con los datos de la factura de compra y el mail registrado en la compra. Se toma como fecha válida, para la vigencia de las promociones, el día en que fue creado el pedido y no la fecha de pago, ni la fecha de emisión de la factura. Considerá que, si realizó la compra del producto en promoción, en tiempo y forma pero no puede realizar el canje dentro de la fecha, ello se debe a que no se cuenta con stock de códigos. Así mismo, sepa que la disponibilidad de códigos es limitada, y una vez que se agotan, no será posible realizar el canje.</h5>
    </p>
</details>
<details>
    <summary>CapsuleCoins</summary>
    <p> 
      <h4>¿Qué son los CapsuleCoins?</h4>
      <h5>Es un beneficio que brinda COMPRA GAMER a sus clientes, premiando sus compras. Se pueden utilizar en descuentos parciales sobre cualquier producto que se encuentre en stock en la web de Compra Gamer Para mayor información, le invitamos a consultar el siguiente enlace: ACÁ</h5>
    </p>
</details>
    <div class="help-option">
      
<div class="compra-select">
  <H3>Compra Capsule Corp te ayuda. ¿Cuál es tu consulta?</H3>
  <select name="ayuda" >
    <optgroup >
      <option value="">Elegi un motivo...</option>
      <option value="">Consulta sobre un producto</option>
      <option value="">Consulta general</option>
      <option value="">Consulta sobre un pedido</option>
      <option value="">Necesito ayuda para realizar una compra</option>
      <option value="">consulta sobre subir un comprobante de pago</option>
    </optgroup>
  </select>        
</div>
      <div class="text-tarea" >
        <textarea cols="100" rows="4"  name="text-help" id="" placeholder="Escribí tu pregunta" ></textarea>

      </div>
    </div>
    <div class="help-button">
     <button>
       <a href="#">Enviar consulta</a>
     </button>
    </div>
</body>
</html>