<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/userheader") %>
    <div class="terms"><h1> TÉRMINOS Y CONDICIONES DE REGISTRO </h1></div>
    <div class="term">
           
            <h2>Información de esta web</h2>
            <h3> Esta página muestra información sobre precios de productos.
            Capsule Corp no puede garantizar que todos los productos estén disponibles a los precios mostrados en todo momento, ya que tienen mucha variabilidad. Por favor siempre contacte a nuestro equipo para obtener los precios más recientes y actualizados, disponibilidades y otros términos y condiciones que pueda haber.
            Asimismo, hemos puesto mucho cuidado y atención a que dicha información esté siempre lo más actualizada posible.</h3>

            <h2>Precios, restricciones y condiciones</h2>
            <h3>Pueden existir restricciones y condiciones en todos los productos ofrecidos en esta página web, y dichas condiciones y restricciones pueden afectar a los precios mostrados. Para poder obtener la información más actualizada por favor contáctenos.
            Por estas razones los precios mostrados en esta página están sujetos a cualquier cambio sin previo aviso. Muchos de los productos, cursos y servicios están sujetos a disponibilidad.</h3>
            
            <h2>Propiedad Intelectual</h2>
            <h3>Todo el material que contiene esta página web (sin ninguna limitación) incluyendo el software, el diseño, texto y gráficos (incluidas marcas registradas) es propiedad de Capsule Corp.
            Esta página debe ser usada para propósitos de compras.
            Marcas, sean registradas o no registradas y sus logos no deben ser usadas ni modificadas sin obtener previamente un consentimiento por escrito.</h3>
            
            <h2>Uso de la página web</h2>
            <h3>Para acceder a algunos de nuestros servicios, puede ser necesario registrarse en la página y hacerse una cuenta con la dirección de email y una contraseña (” tu cuenta”). El email con el que se registre un usuario debe ser el suyo propio, y dicho usuario es el único responsable de mantener dicha contraseña confidencial, al igual que todas las actividades que sucedan dentro de su cuenta.</h3>
            
            <h2>Información Personal</h2>
            <h3>Al registrarse en alguna de nuestras páginas y proveer de datos personales, el usuario está aceptando que la empresa guarde sus datos en la base de datos de Capsule Corp.</h3>

            <h2>Privacidad</h2>
            <h3>Capsule Corp guardará toda la información personal subministrada por el usuario de acuerdo con nuestras políticas de privacidad.</h3>

            <h2>Seguridad</h2>
            <h3>Capsule Corp utiliza Secure Sockets Layer (SSL) encriptado para garantizar la seguridad de todos los datos personales. El cifrado SSL se activa automáticamente siempre que el usuario nos envía información confidencial a través de Internet.</h3>

            <h2>Cookies</h2>
            <h3>Una cookie es un pequeño texto que se guarda en la memoria de un ordenador y que puede ser recuperado posteriormente por servidores de páginas web. Usamos cookies para mejorar la interacción de nuestros usuarios con la página web. No usamos cookies para guardar ningún tipo de información personal.
            Esta página puede almacenar cookies en el web browser del usuario para así poder mejorar el servicio en próximas visitas a la web.</h3> 
       
    </div>
    
    <div class="check"><input type="checkbox">Acepto los términos del servicio</div>
    <div class="button"><a href="/users/register"><input type="submit" value="Enviar datos"></a></div>
</body>
</html>